# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Runtime
pids
*.pid
*.seed
*.pid.lock

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage and test
coverage/
.nyc_output/

# Output folders
dist/
build/
tmp/
temp/

# MongoDB dump files (if any)
dump/